/*Los colores lo discutiremos en el grupo*/
/*Copia desde aqui*/


/*No borrar esto son variables para los colores
---Para usar estas variables en css tienes que poner por ejemplo en:
color :var();  dentro de los parentesis va ir '--primario'

ejemplo: background-color: var(--primario);
*/
:root {
    --azul: #1F3B73;
    --morado:#4B296B ;
    --barro:#AFAE9E;
    --claro1:#F1E6D2;
    --claro2:#C19A6B;
    --fuente:;
}

/* tamaños (esto es para @media )*/
/* 480=telefono(opcional)
768=tablet(obligatorio)
1400=pc(este no, por que es el que estamos usando)
*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header,
nav,
section,
aside,
footer {
    padding: 1em;
    color: white;
}

header {
    background: #333;
}

nav {
    background: #000000e3;
    position: sticky;
    top: 0;
}

section {
    background: #555;
    flex: 2;
}

aside {
    background: #666;
    flex: 1;
}

footer {
    background: #333;
}
.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.vista{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex: 1;
}


.active{
    transition: all 0.33s ease-out;
    border-bottom: 1px solid ;
    padding-bottom: 0px;
}
.active:hover{
    padding: 7px;
    
    
}


/* Añadir espacio debajo de los elementos para el emoji */
.navbar-nav .nav-item {
    margin-bottom: 0.2rem; /* Ajusta este valor según el tamaño del emoji */
}

.hover-item {
    position: relative;
    display: inline-block;
}

.emoji {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    margin-top: -1.4rem; 
    transition: visibility 0s, opacity 0.3s ease-in-out; 
}

.hover-item:hover .emoji {
    visibility: visible;
    opacity: 1; /* Hacer el emoji visible */
}


@media (max-width: 768px/*aqui se define el tamaño de las pantallas*/) {
    .main-content {
        flex-direction: column;
    }

    section {
        order: 2;
    }
}
/*Hasta aqui*/




/*Empiesen a trabajar desde aqui*/





/*el estilo tambien se borra*/
.morado {
    padding: 2rem;
    background-color: rebeccapurple;
    width: 220px;
    height: 100rem;
}









